* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  width: 1200px;
  box-shadow: 0 0 30px #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.first_nav {
  width: 100%;
  height: 40px;
  background-color: #029fb2;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 15px;
  padding-left: 15px;
}
.first_nav_elem {
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  padding-right: 5px;
  border-right: 2px solid #fff;
  font-weight: 100;
  display: flex;
  gap: 2px;
  padding: 0 10px;
  align-items: center;
  cursor: pointer;
}
.first_nav_elem:first-child {
  font-size: 10px;
}
.first_nav_elem:last-child {
  border-right: none;
}
.first_nav_elem a {
  text-decoration: none;
  color: #fff;
}
.college_logo_part {
  width: 100%;
  height: 130px;
  display: flex;
  padding-left: 15px;
}
.college_logo_part1 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.college_logo_part1 img {
  width: 75%;
  height: 65%;
  cursor: pointer;
}
.college_logo_part1 img:hover {
  border: 1px dotted #029fb2;
}
.college_logo_part2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #004670;
  font-weight: 900;
  font-size: 14px;
  padding-left: 30px;
}
.call_of_paper_div {
  width: 120px;
  height: 35px;
  background-color: #00ff2a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.call_of_paper_div a {
  text-decoration: none;
}
.online_admission_div {
  width: 190px;
  height: 35px;
  background-color: #00ff2a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.online_admission_div a {
  text-decoration: none;
}
.second_nav {
  width: 1215px;
  height: 40px;
  background-color: #029fb2;
  cursor: pointer;
  position: relative;
  z-index: 9;
}
.header #icon1 {
  position: absolute;
  top: 24.4%;
  left: 13.6%;
  color: #004670;
  font-size: 20px;
}
.header #icon2 {
  position: absolute;
  top: 24.4%;
  right: 13.6%;
  color: #004670;
  font-size: 18px;
}
.second_nav ul {
  list-style: none;
  display: flex;
  padding-left: 22px;
}
.second_nav ul li {
  width: fit-content;
  height: 40px;
  padding: 10px;
  display: flex;
  gap: 5px;
  border-right: 1px solid #004670;
  position: relative;
}
.second_nav ul .menu_first_elem {
  border-left: 1px solid #004670;
}

.second_nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.second_nav ul li i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.second_nav ul li .up_arrow {
  position: absolute;
  bottom: -18%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.second_nav ul li:hover {
  background-color: #0e6770;
}
.second_nav ul li:hover .up_arrow {
  display: block;
}
.sub_menu_1 {
  display: none;
}
.second_nav ul li:hover .sub_menu_1 {
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: -32px;
  text-align: start;
  width: 200px;
  height: 165px;
}
.second_nav ul li:hover .sub_menu_1 ul {
  display: block;
  width: 100%;
  height: 100%;
}
.second_nav ul li:hover .sub_menu_1 ul li {
  background-color: #029fb2;
  border-right: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.second_nav ul li:hover .sub_menu_1 ul li:nth-child(4) {
  border-bottom: none;
}
.sub_menu_2 {
  display: none;
}
.second_nav ul li:hover .sub_menu_2 {
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: -33px;
  width: 250px;
}
.second_nav ul li:hover .sub_menu_2 ul {
  display: block;
  width: 100%;
  height: 100%;
}
.second_nav ul li:hover .sub_menu_2 ul li {
  background-color: #029fb2;
  border-right: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.second_nav ul li:hover .sub_menu_2 ul li:nth-child(5) {
  border-bottom: none;
}
.sub_menu_3 {
  display: none;
}
.second_nav ul li:hover .sub_menu_3 {
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: -33px;
  width: 230px;
}
.second_nav ul li:hover .sub_menu_3 ul {
  display: block;
  width: 100%;
  height: 100%;
}
.second_nav ul li:hover .sub_menu_3 ul li {
  background-color: #029fb2;
  border-right: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.department_sub_menu_1 {
  display: none;
}
.sub_menu_3 ul li:hover .department_sub_menu_1 {
  display: block;
  position: absolute;
  margin-left: 175px;
  margin-top: 46px;
  width: 250px;
}
.sub_menu_3 ul li:hover .department_sub_menu_1 ul {
  display: block;
  width: 100%;
  height: 100%;
}
.sub_menu_3 ul li:hover .department_sub_menu_1 ul li {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub_menu_3 ul li:hover .department_sub_menu_1 ul li:last-child {
  border-bottom: none;
}
.ug_sub_menu_1 {
  display: none;
}
.department_sub_menu_1 ul li:hover .ug_sub_menu_1 {
  display: block;
  position: absolute;
  margin-top: 91px;
  margin-left: 194px;
  width: 250px;
}
.department_sub_menu_1 ul li:hover .ug_sub_menu_1 ul {
  display: block;
  width: 100%;
}
.department_sub_menu_1 ul li:hover .ug_sub_menu_1 ul li {
  height: 45px;
  display: flex;
  align-items: center;
}
.science_sub_menu_1 {
  display: none;
}
.ug_sub_menu_1 ul li:hover .science_sub_menu_1 {
  display: block;
  position: absolute;
  margin-top: 305px;
  margin-left: 195px;
  width: 230px;
  padding-top: 5px;
}
.ug_sub_menu_1 ul li:hover .science_sub_menu_1 ul {
  display: block;
  width: 100%;
  margin-top: 5px;
}
.ug_sub_menu_1 ul li:hover .science_sub_menu_1 ul li {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.arts_sub_menu_1 {
  display: none;
}
.ug_sub_menu_1 ul li:hover .arts_sub_menu_1 {
  display: block;
  position: absolute;
  margin-top: 315px;
  margin-left: 195px;
  width: 230px;
}
.ug_sub_menu_1 ul li:hover .arts_sub_menu_1 ul {
  display: block;
  width: 100%;
}
.ug_sub_menu_1 ul li:hover .arts_sub_menu_1 ul li {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.commerce_sub_menu_1 {
  display: none;
}
.ug_sub_menu_1 ul li:hover .commerce_sub_menu_1 {
  display: block;
  position: absolute;
  margin-left: 195px;
  width: 230px;
}
.ug_sub_menu_1 ul li:hover .commerce_sub_menu_1 ul {
  display: block;
  width: 100%;
}
.ug_sub_menu_1 ul li:hover .commerce_sub_menu_1 ul li {
  height: 45px;
  display: flex;
  align-items: center;
}
.pg_sub_menu_1 {
  display: none;
}
.department_sub_menu_1 ul li:hover .pg_sub_menu_1 {
  display: block;
  position: absolute;
  margin-top: 45px;
  margin-left: 195px;
  width: 200px;
}
.department_sub_menu_1 ul li:hover .pg_sub_menu_1 ul {
  display: block;
  width: 100%;
}
.department_sub_menu_1 ul li:hover .pg_sub_menu_1 ul li {
  height: 45px;
  display: flex;
  align-items: center;
}
.dodl_sub_menu_1 {
  display: none;
}
.pg_sub_menu_1 ul li:hover .dodl_sub_menu_1 {
  display: block;
  position: absolute;
  margin-top: 135px;
  margin-left: 145px;
  width: 200px;
}
.pg_sub_menu_1 ul li:hover .dodl_sub_menu_1 ul {
  display: block;
  width: 100%;
}
.pg_sub_menu_1 ul li:hover .dodl_sub_menu_1 ul li {
  height: 45px;
  display: flex;
  align-items: center;
}
.staff_sub_menu_1 {
  display: none;
}
.sub_menu_3 ul li:hover .staff_sub_menu_1 {
  display: block;
  position: absolute;
  margin-top: 46px;
  margin-left: 176px;
  width: 200px;
}
.sub_menu_3 ul li:hover .staff_sub_menu_1 ul {
  display: block;
  width: 100%;
}
.sub_menu_3 ul li:hover .staff_sub_menu_1 ul li {
  height: 45px;
  display: flex;
  align-items: center;
}
.sub_menu_3 ul li:hover .staff_sub_menu_1 ul li:last-child {
  border-bottom: none;
}
.routine_sub_menu_1 {
  display: none;
}
.sub_menu_3 ul li:hover .routine_sub_menu_1 {
  display: block;
  position: absolute;
  margin-top: 90px;
  margin-left: 176px;
  width: 230px;
}
.sub_menu_3 ul li:hover .routine_sub_menu_1 ul {
  display: block;
  width: 100%;
}
.sub_menu_3 ul li:hover .routine_sub_menu_1 ul li {
  height: 67.5px;
  display: flex;
  align-items: center;
}
.sub_menu_3 ul li:hover .routine_sub_menu_1 ul li:last-child {
  border-bottom: none;
}
.distance_sub_menu_1 {
  display: none;
}
.sub_menu_3 ul li:hover .distance_sub_menu_1 {
  display: block;
  position: absolute;
  margin-top: 46px;
  margin-left: 176px;
  width: 200px;
}
.sub_menu_3 ul li:hover .distance_sub_menu_1 ul {
  display: block;
  width: 100%;
}
.sub_menu_3 ul li:hover .distance_sub_menu_1 ul li {
  height: 45px;
  display: flex;
  align-items: center;
}
.sub_menu_3 ul li:hover .routine_sub_menu_1 ul li:last-child {
  border-bottom: none;
}
.student_support_sub_menu_1 {
  display: none;
}
.sub_menu_5 ul li:hover .student_support_sub_menu_1 {
  display: block;
  position: absolute;
  margin-top: 246px;
  margin-left: 160px;
  width: 200px;
}
.sub_menu_5 ul li:hover .student_support_sub_menu_1 ul {
  display: block;
  width: 100%;
}
.sub_menu_5 ul li:hover .student_support_sub_menu_1 ul li {
  height: 45px;
  display: flex;
  align-items: center;
}
.sub_menu_5 ul li:hover .student_support_sub_menu_1 ul li:nth-child(4) {
  height: 55px;
  display: flex;
  align-items: center;
}
.sub_menu_5 ul li:hover .student_support_sub_menu_1 ul li:nth-child(5) {
  height: 55px;
  display: flex;
  align-items: center;
}
.sub_menu_4 {
  display: none;
}
.second_nav ul li:hover .sub_menu_4 {
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: -33px;
  width: 180px;
}
.second_nav ul li:hover .sub_menu_4 ul {
  display: block;
  width: 100%;
  height: fit-content;
}
.second_nav ul li:hover .sub_menu_4 ul li {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #029fb2;
  border-right: none;
}
.sub_menu_5 {
  display: none;
}
.second_nav ul li:hover .sub_menu_5 {
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: -33px;
}
.second_nav ul li:hover .sub_menu_5 ul {
  display: block;
  width: 220px;
  height: fit-content;
}
.second_nav ul li:hover .sub_menu_5 ul li {
  width: 100%;
  height: fit-content;
  border-right: none;
  border-bottom: 1px solid #fff;
  background-color: #029fb2;
  height: 45px;
  display: flex;
  align-items: center;
}
.second_nav ul li:hover .sub_menu_5 ul li:last-child {
  border-bottom: none;
}
.sub_menu_5 ul li:first-child {
  background-color: #029fb2;
}
.sub_menu_5 ul li:hover .sub_menu_5 ul li:first-child {
  background-color: #0e6770;
}
.sub_menu_5 ul .student_support {
  display: flex;
  justify-content: space-between;
}
.sub_menu_6 {
  display: none;
}
.second_nav ul li:hover .sub_menu_6 {
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: -33px;
}
.second_nav ul li:hover .sub_menu_6 ul {
  display: block;
  width: 250px;
  height: fit-content;
}
.second_nav ul li:hover .sub_menu_6 ul li {
  width: 100%;
  height: fit-content;
  border-right: none;
  border-bottom: 1px solid #fff;
  background-color: #029fb2;
  height: 45px;
  display: flex;
  align-items: center;
}
.second_nav ul li:hover .sub_menu_6 ul li:last-child {
  border-bottom: none;
}
.sub_menu_7 {
  display: none;
}
.second_nav ul li:hover .sub_menu_7 {
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: -33px;
}
.second_nav ul li:hover .sub_menu_7 ul {
  display: block;
  width: 200px;
  height: fit-content;
}
.second_nav ul li:hover .sub_menu_7 ul li {
  width: 100%;
  height: fit-content;
  background-color: #029fb2;
  border-right: none;
  border-bottom: 1px solid #fff;
  height: 45px;
  display: flex;
  align-items: center;
}
.second_nav ul li:hover .sub_menu_7 ul li:last-child {
  border-bottom: none;
}
.sub_menu_8 {
  display: none;
}
.second_nav ul li:hover .sub_menu_8 {
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: -33px;
  width: 200px;
}
.second_nav ul li:hover .sub_menu_8 ul {
  display: block;
  width: 100%;
  height: 100%;
}
.second_nav ul li:hover .sub_menu_8 ul li {
  background-color: #029fb2;
  border-right: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.second_nav ul li:hover .sub_menu_8 ul li:nth-child(5) {
  border-bottom: none;
}
.main {
  width: 1200px;
  height: 400px;
  box-shadow: 0 0 30px #dadada;
  padding-left: 15px;
}
.nacc_main {
  width: 80%;
  height: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;
}
.nacc_heading {
  width: 95%;
  height: 40px;
  background: linear-gradient(to right,
    #029fb2,
    #039fb2,
    #049fb2,
    #05a0b3,
    #05a0b3,
    #1ea9ba,
    #18A8B9,
    #22ABBC,
    #2DAFBF,
    #37B3C2,
    #3FB6C4,
    #41B7C5,
    #54BECB,
    #60C3CF,
    #6FC8D3,
    #6FC8D3,
    #71C9D4,
    #7FCED8,
    #84D0D9,
    #88D2DB,
    #9BD9E0,
    #A6DDE4,
    #B7E3E9,
    #BAE5EA,
    #CAEBEF,
    #D4EFF2,
    #D4EFF2,
    #DCF2F4,
    #E6F6F8,
    #EDF8FA,
    #F6FBFC,
    #F7FCFD,
    #FBFEFE
  );
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: -45px;
}
.nacc_document_certificate{
  width: 100%;
  height: 350px;
  gap: 20px;
  display: flex;
}
.ssrs{
  width: 280px;
  height: 250px;
  background-color: #029fb2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ssrs  .image{
  width: 92%;
  height: 85%;
  padding-top: 20px;
}
.ssrs .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ssrs a{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-right: 200px;
  padding-bottom: 20px;
  text-decoration: none;
}
.nacc_certificate{
  width: 280px;
  height: 250px;
  background-color: #029fb2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nacc_certificate  .image{
  width: 92%;
  height: 85%;
  padding-top: 20px;
}
.nacc_certificate .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nacc_certificate a{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-right: 80px;
  padding-bottom: 20px;
  text-decoration: none;
}
.nacc_document{
  width: 280px;
  height: 250px;
  background-color: #029fb2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nacc_document  .image{
  width: 92%;
  height: 85%;
  padding-top: 20px;
}
.nacc_document .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nacc_document a{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-right: 80px;
  padding-bottom: 20px;
  text-decoration: none;
}
.footer {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  word-spacing: -1px;
}
.college_location_mail_etc {
  width: 100%;
  height: 430px;
  background-color: #006d80;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-weight: 700;
}
.location {
  width: 31%;
  height: 100%;
  padding-top: 40px;
}
.location .find_us {
  width: 100%;
  height: 40px;
  background-color: #1a7c8d;
  border: 2px solid #88c0ca;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.map {
  width: 80%;
  height: 160px;
  margin-top: 20px;
  position: relative;
}
.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#map_link {
  text-decoration: none;
  font-size: 12px;
  font-weight: lighter;
  color: #029fb2;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0 0 5px gray;
  position: absolute;
  top: 5%;
  left: 3%;
}
#map_link:hover {
  text-decoration: underline;
}
.keybord {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: lighter;
  font-size: 15px;
  position: absolute;
  bottom: -1%;
  left: 18%;
  cursor: pointer;
}
.maps_data_terms {
  width: 220px;
  height: 10px;
  font-size: 9px;
  background-color: #dadada;
  color: #000;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  position: absolute;
  bottom: 1%;
  right: 0%;
  cursor: pointer;
}
.mail_visitor_box {
  width: 31%;
  height: 100%;
  padding-top: 40px;
}
.mail_visitor_box .nabadwip_vidyasagar_college {
  width: 100%;
  height: 40px;
  background-color: #1a7c8d;
  border: 2px solid #88c0ca;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 30px;
}
.mail_location_contact {
  width: 100%;
  height: 150px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
#location {
  width: 100%;
  height: 50px;
}
#contact {
  width: 100%;
  height: 50px;
}
#mail {
  width: 100%;
  height: 50px;
}
.number_of_visitor {
  width: 100%;
  height: 40px;
  background-color: #1a7c8d;
  border: 2px solid #88c0ca;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 20px;
}
.total_hits {
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  border: 1px solid #fff;
  margin-top: 50px;
  gap: 5px;
}
.quick_links {
  width: 31%;
  height: 100%;
  padding-top: 40px;
}
.quick_links #quick_links {
  width: 100%;
  height: 40px;
  background-color: #1a7c8d;
  border: 2px solid #1a7c8d;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.links {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.link {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #0e5a68;
}
.links a {
  text-decoration: none;
  color: #dadada;
  font-size: 15px;
  font-weight: lighter;
}
.links i {
  font-size: 13px;
  font-weight: lighter;
  cursor: pointer;
}
.copyrignt_box {
  width: 100%;
  height: 40px;
  background-color: #1a7c8d;
  font-size: 12px;
  color: #dadada;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
